---
---

<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Digital Garden Content Manager</title>
  <script src="https://unpkg.com/decap-cms@^3.0.0/dist/decap-cms.js"></script>
  <script>
    // Initialize Decap CMS
    if (typeof CMS !== 'undefined') {
      CMS.init();
    }
  </script>
</head>
<body>
  <div id="nc-root"></div>
</body>
</html> 